<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="container">
    </div>

    <div class="navbar">
       
        <button class="btnX">X</button>
        <button class="btnY">Y</button>
        <input type="color" value="#b9b0b0" class="color">
        <!--<input type="number" value="30" class="size">-->
    </div>

    <script src="{{ url_for('static', filename='main.js')}}"></script>
</body>
</html>